body {
    position: relative;
    height: 4774px;
    background: #FFFFFF;
    width: 1440px;
    height: 4774px;
}

* {
    left: 140.7px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

.jadoo {
    position: absolute;
    width: 114.91px;
    height: 33.99px;
    top: 48.7px;
}

.img {
    position: absolute;
    width: 765px;
    height: 764px;
    left: 565px;
    top: 105px;
    background: url(Traveller.png);
}

#destination {
    position: absolute;
    width: 410px;
    height: 30px;
    top: 217px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
}

#travel {
    position: absolute;
    width: 545px;
    height: 267px;
    top: 250px;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181E4B;
}

#built {
    position: absolute;
    width: 477px;
    height: 90px;
    top: 568px;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

.find {
    position: absolute;
    width: 117px;
    height: 23px;
    left: 175px;
    top: 700px;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
}

.find a {
    text-decoration: none;
}

.find a:link {
    color: rgb(12, 2, 2);
}

.playlogo {
    height: 52px;
    width: 52px;
    background-color: #DF6951;
    border-radius: 50%;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.playlogo h5 {
    position: absolute;
    width: 92px;
    height: 26px;
    left: 435px;
    top: 711px;
    font-size: 17px;
    line-height: 25px;
    color: #686D77;
}

.subhead h3 {
    position: absolute;
    width: 98px;
    height: 27px;
    left: 652px;
    top: 974px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #5E6282;
}

.subhead h2 {
    position: absolute;
    width: 547px;
    height: 65px;
    left: 428px;
    top: 1011px;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}

.fig1 {
    position: absolute;
    width: 190px;
    height: 227px;
    left: 154px;
    top: 1186px;
}

.fig1 h4 {
    width: 190px;
    height: 27px;
    left: 154px;
}

.fig1 h6 {
    width: 181px;
    height: 78px;
    left: 159px;
}

.navbar {
    float: right;
    padding-left: 468px;
}

.navbar li {
    display: inline;
    padding: 15px;
}

.navbar ul {
    padding-top: 56px;
    padding-right: 150px;
    font-size: large;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.navbar li a {
    text-decoration: none;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: rgb(105, 100, 100);
}